{% extends "layout.njk" %}
{% block content %}
  <style>
    .bold {
      font-weight: bold;
    }
  </style>
  <h1>{{ author.name }}</h1>
  <p>{{ author.lifespan }}
    {% if author.ageAtDeath !== null %}
      <span>(aged {{ author.ageAtDeath }})</span>
    {% endif %}
  </p>
  <h2>Books</h2>
  <ul>
    {% for book in books %}
      <li>
        <a class="bold" href="{{ book.url }}">{{ book.title }}</a>
        <p>{{ book.summary }}</p>
      </li>
    {% else %}
      <li>No books from this author.</li>
    {% endfor %}
  </ul>
  {% block deleteAuthorLink %}{% endblock %}
  {% block deleteAuthor %}{% endblock %}
  <a class="btn btn-primary" href="/catalog/author/{{ author.id }}/update">Update</a>
{% endblock %}