{% extends layout %}
{% block content %}
  <style>
    .bold {
      font-weight: bold;
    }
  </style>
  <h1>{{ data.author.name }}</h1>
  <p>{{ data.author.dateOfBirthFormatted }}</p>
  <h2>Books</h2>
  <ul>
    {% for book in data.books %}
      <li>
        <a class="bold" href={{ book.url }}>{{ book.title }}</a>
        <p>{{ book.summary }}</p>
      </li>
    {% else %}
      <li>No books from this author.</li>
    {% endfor %}
  </ul>
{% endblock %}