{% extends "authorDetails.njk" %}
{% block deleteAuthorLink %}
  {% if data.books|length %}
    <p>To delete this author, please first delete associated books.</p>
  {% else %}
    <a href="/catalog/author/{{ data.author.id }}/delete">Delete author.</a>
  {% endif %}
{% endblock %}