{% extends "authorDetails.njk" %}
{% block deleteAuthorLink %}
  {% if books|length %}
    <p>To delete this author, please first delete associated books.</p>
  {% else %}
    <a class="btn btn-danger" href="/catalog/author/{{ author.id }}/delete">Delete author</a>
  {% endif %}
{% endblock %}