{% extends "layout.njk" %}
{% block content %}
  <style>
    .bold {
      font-weight: bold;
    }
  </style>
  <h1>ID: {{ bookInstance._id }}</h1>
  <p>
    <span class="bold">Title</span>
    <a href="{{ bookInstance.book.url }}">{{ bookInstance.book.title }}</a>
  </p>
  <p>
    <span class="bold">Imprint</span>
    {{ bookInstance.imprint }}</p>
  <p>
    <span class="bold">Status</span>
    {{ bookInstance.status }}</p>
  <p>
    <span class="bold">Due Back</span>
    {{ bookInstance.dueBackFormatted }}</p>
{% endblock %}