{% extends "layout.njk" %}
{% block content %}
  <style>
    .bold {
      font-weight: bold;
    }
  </style>
  <h1>
    ID: {{ bookInstance._id }}
  </h1>
  <p>
    <span class="bold">Title</span>
    <a href="{{ bookInstance.book.url }}">{{ bookInstance.book.title }}</a>
  </p>
  <p>
    <span class="bold">Imprint</span>
    {{ bookInstance.imprint }}
  </p>
  <p>
    <span class="bold">Status</span>
    {{ bookInstance.status }}
  </p>
  {% if bookInstance.dueBackFormatted %}
    <p>
      <span class="bold">Due Back</span>
      {{ bookInstance.dueBackFormatted }}
    </p>
  {% endif %}
  <h2>Delete this book instance?</h2>
  <form action="/catalog/bookinstance/{{ bookInstance.id }}/delete" method="post"></form>
  <button type="button" onClick="conf()">Confirm Delete Book Instance</button>
  <script>
    const conf = () => {
      if (window.confirm('Are you sure you want to delete this book instance?') === true) {
        document.querySelector('form').submit()
      }
    };
  </script>
{% endblock %}