{% extends "bookDetails.njk" %}
{% block deleteBookLink %}
  {% if bookInstances|length %}
    <p>To delete this book, please first delete associated book instances.</p>
  {% else %}
    <a class="btn btn-danger" href="/catalog/book/{{ book.id }}/delete">Delete book</a>
  {% endif %}
{% endblock %}