{% extends "layout.njk" %}
{% block content %}
  <link rel='stylesheet' href='/stylesheets/error.css'/>
  <div class="errorPage">
    <div class="errorPage__status">{{ status }}</div>
    <div class="errorPage__message">{{ message }}</div>
    <div class="errorPage__cause">{{ cause }}</div>
  </div>
{% endblock %}