{% extends layout %}
{% block content %}
  <h1>{{ title }}</h1>
  <ul>
    {% for genre in genreList %}
      <li>
        <a href={{ genre.url }}>{{ genre.name }}</a>
      </li>
    {% else %}
      <li>There are no genres</li>
    {% endfor %}
  </ul>
{% endblock %}