{% extends "layout.njk" %}
{% block content %}
  <h1>{{ title }}</h1>
  <h2>Books</h2>
  <ul>
    {% for book in genreBooks %}
      <li>
        <a href="{{ book.url }}">{{ book.title }}</a>
        <p>{{ book.summary }}</p>
      </li>
    {% else %}
      <li>There are no books in this genre.</li>
    {% endfor %}
  </ul>
  <h2>Delete this Genre?</h2>
  <form action="/catalog/genre/{{ genre.id }}/delete" method="post"></form>
  <button type="button" onClick="conf()">Delete Genre</button>
  <script>
    const conf = () => {
      if (window.confirm('This will remove the genre from all books. Are you sure?') === true) {
        document.querySelector('form').submit()
      }
    };
  </script>
{% endblock %}